In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport

In [2]:
# # dictionary of data 
# df = pd.read_csv('application_data.csv')

# # forming dataframe and printing 
# data = pd.DataFrame(df) 

# # forming ProfileReport and save 
# # as output.html file 
# profile = ProfileReport(data) 
# profile.to_file(output_file = 'Discharge_profiling.html')
# profile

In [16]:
appdata = pd.read_csv('application_data.csv')

In [11]:
# # df.dropna(thresh=df.shape[0]*0.2,how='all',axis=1)
# # df = df.loc[:, (df.isin([' ','NULL',0]) | df.isnull()).mean() <= 0.25]
# df = df.loc[:, df.isin([' ','NULL',0, np.nan]).mean() < 0.5]
# df.isna().mean()

In [17]:
appdata = appdata.loc[:, appdata.isin([' ','NULL',0, np.nan]).mean() < 0.45]
appdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   SK_ID_CURR                   307511 non-null  int64
 1   NAME_CONTRACT_TYPE           307511 non-null  object
 2   CODE_GENDER                  307511 non-null  object
 3   FLAG_OWN_CAR                 307511 non-null  object
 4   FLAG_OWN_REALTY              307511 non-null  object
 5   AMT_INCOME_TOTAL             307511 non-null  float64
 6   AMT_CREDIT                   307511 non-null  float64
 7   AMT_ANNUITY                  307499 non-null  float64
 8   AMT_GOODS_PRICE              307233 non-null  float64
 9   NAME_TYPE_SUITE              306219 non-null  object
 10  NAME_INCOME_TYPE             307511 non-null  object
 11  NAME_EDUCATION_TYPE          307511 non-null  object
 12  NAME_FAMILY_STATUS           307511 non-null  object
 13  NAME_HOUSING_TYPE            307511 non-null  object
 14  REGION_POPULATION_RELATIVE   307511 non-null  float64
 15  DAYS_BIRTH                   307511 non-null  int64
 16  DAYS_EMPLOYED                307511 non-null  int64
 17  DAYS_REGISTRATION            307511 non-null  float64
 18  DAYS_ID_PUBLISH              307511 non-null  int64
 19  FLAG_MOBIL                   307511 non-null  int64
 20  FLAG_EMP_PHONE               307511 non-null  int64
 21  FLAG_CONT_MOBILE             307511 non-null  int64
 22  OCCUPATION_TYPE              211120 non-null  object
 23  CNT_FAM_MEMBERS              307509 non-null  float64
 24  REGION_RATING_CLIENT         307511 non-null  int64
 25  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 26  WEEKDAY_APPR_PROCESS_START   307511 non-null  object
 27  HOUR_APPR_PROCESS_START      307511 non-null  int64
 28  ORGANIZATION_TYPE            307511 non-null  object
 29  EXT_SOURCE_2                 306851 non-null  float64
 30  EXT_SOURCE_3                 246546 non-null  float64
 31  DAYS_LAST_PHONE_CHANGE       307510 non-null  float64
 32  FLAG_DOCUMENT_3              307511 non-null  int64
 33  AMT_REQ_CREDIT_BUREAU_YEAR   265992 non-null  float64
dtypes: float64(11), int64(11), object(12)
memory usage: 79.8+ MB

In [ ]:
data = pd.DataFrame(appdata) 

profile = ProfileReport(data) 
profile.to_file(output_file = 'Discharge_profiling.html')
profile